# Import packages

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
import seaborn as sns
from datetime import datetime

# Read the dataset

In [2]:
gov_p = pd.read_csv('https://raw.githubusercontent.com/wingochau/Dissertation/main/gov_parking_processed.csv')
reg_veh = pd.read_csv('https://raw.githubusercontent.com/wingochau/Dissertation/main/registered_vehicle_sum.csv')

In [3]:
reg_veh

    Unnamed: 0     EV  PETROL  DIESEL  period
0            0  13066  602040   11983  201911
1            1  13447  602708   11981  201912
2            2  13554  603008   11977  202001
3            3  13554  603008   11977  202001
4            4  13745  604092   11978  202002
5            5  14331  605406   11975  202003
6            6  14507  606732   11975  202004
7            7  14661  608504   11974  202005
8            8  14798  609963   11973  202006
9            9  14895  611485   11973  202007
10          10  15878  612808   11970  202008
11          11  16324  615024   11971  202009
12          12  16417  617320   11971  202010
13          13  17186  618935   11970  202011
14          14  17998  621288   11968  202012
15          15  18212  622923   11968  202101
16          16  18688  623557   11967  202102